
@{
    ViewBag.Title = "AddCovidCase";
}
@model Covid19Tracker.Vm.CreateCovidCaseOverview

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
@using (Ajax.BeginForm("CreateCovidCase", "Case", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "CreateCovidCaseFormID" }, new { id = "Form_CreateCase" }))
{
    <div class="" id="PagePanel">
        <div class="panel panel-default" style="margin-top:5%;">
            <div class="panel-heading text-center"> Create Covid-19 Case</div>

            <div class="panel-body">

             


                <div class="col-md-4 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"> Diagnosis</div>
                        <div class="panel-body">

                            <p> Please enter the date that you were diagnosed, the area that you reside in.</p>

                            @Html.LabelFor(l => l.DateDiagnosed, "Date Diagnosed", new { @style = "padding-right:5%;padding-left:1%;" })

                            @Html.TextBoxFor(model => model.DateDiagnosed,
                            new { @type = "date", @Value = Model.DateDiagnosed })
                            @Html.ValidationMessageFor(l => l.DateDiagnosed, "", new { @style = "color:red;" })
                        <span id="DateChecked">
                            <i class="fa fa-check" style="color:green;" aria-hidden="true"></i>
                        </span>

                        </div>
                    </div>
                    <div id="ButtonSubmit" style="text-align:center;">
                        <button type="submit" class="btn btn-primary text-center"> Submit your case!</button>
                    </div>

                </div>

                <div class="col-md-8 col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading"> About You</div>
                        <div class="panel-body">
                            <p> The main aim of this website is to provide more information to society about the <strong>Covid-19</strong> cases currently in <strong>Ireland</strong> at the current time.</p>
                            <p> Please enter the details you feel comfortable answering. There is no answers that could be posibly used to trace your whereabouts.</p>

                            <div class="col-md-4 col-lg-4">
                                <span id="AgeGroupChecked" class="pull-right">
                                    <i class="fa fa-check" style="color:green;" aria-hidden="true"></i>
                                </span>
                                @Html.LabelFor(l => l.AgeGroupRanges, "Age Range", new { @class = "text-center" })
                                @Html.ValidationMessageFor(l => l.AgeGroupPicked, "", new { @style = "color:red;" })
                                @Html.DropDownListFor(m => m.AgeGroupPicked,
                                                      new SelectList(Model.AgeGroupRanges, "Value", "Value"),
                                                      "- Please select your age group -",
                                                      new { @class = "form-control" }
                                                      )

                            </div>


                            <div class="col-md-4 col-lg-4">
                                <span id="GenderChecked" class="pull-right">
                                    <i class="fa fa-check" style="color:green;" aria-hidden="true"></i>
                                </span>
                                @Html.LabelFor(l => l.GenderRange, "Gender", new { @class = "text-center" })
                                @Html.ValidationMessageFor(l => l.GenderValue, "", new { @style = "color:red;" })
                                @Html.DropDownListFor(m => m.GenderValue,
                                                      new SelectList(Model.GenderRange, "Value", "Value"),
                                                      "- Please select your gender -",
                                                      new { @class = "form-control" }
                                                      )

                            </div>

                            <div class="col-md-4 col-lg-4">
                                <span id="LocationChecked" class="pull-right">
                                    <i class="fa fa-check" style="color:green;" aria-hidden="true"></i>
                                </span>
                                @Html.LabelFor(l => l.LocationId, "Location", new { @class = "text-center" })
                                @Html.ValidationMessageFor(l => l.LocationId, "", new { @style = "color:red;" })
                                @Html.DropDownListFor(m => m.LocationId,
                                                      new SelectList(Model.AllLocations, "key", "Value"),
                                                      "- Please select your location -",
                                                      new { @class = "form-control" }
                                                      )

                            </div>

                        </div>
                    </div>
                </div>





            </div>


        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
    <script>

        $('#LocationMenu').chosen();
        $(document).ready(function () {
            
            $('#LocationChecked').toggle();
            $('#AgeGroupChecked').toggle();
            $('#GenderChecked').toggle();
            $('#DateChecked').toggle();

        });

         $('#LocationId').change(function () {
            var value = $('#LocationId').val();
            if (value) {
                $('#LocationChecked').show();
            }
            else {
                    $('#LocationChecked').hide();
            }
        });

        $('#GenderValue').change(function () {
            var value = $('#GenderValue').val();
            if (value) {
                $('#GenderChecked').show();
            }
            else {
                    $('#GenderChecked').hide();
            }
        });

        $('#AgeGroupPicked').change(function () {
            var value = $('#AgeGroupPicked').val();
            if (value) {
                $('#AgeGroupChecked').show();
            }
            else {
                    $('#AgeGroupChecked').hide();
            }
        });


        $('#DateDiagnosed').change(function () {
            var value = $('#DateDiagnosed').val();
            if (value) {
                $('#DateChecked').show();
            }
            else {
                 $('#DateChecked').hide();
            }
        });

        $('#Form_CreateCase').submit(function (e) {

           
                alert("yep");
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        alert("Working");
                        $('#PagePanel').html(result);
                    }
                });
       


        })

    </script>
}